.center{
    margin-left: 43%;
}

.leftSpacing{
    margin-left: 2%;
}

.rightSpacing{
    margin-right: 2%;
}

.topSpacing{
    padding-top: 2%;
}

.bottomSpacing{
    padding-bottom: 2%;
}

.information{
    background-color: #59B0BD;
    font-size: 18px;
}

b{
    color: #F9F871;
}

a{
    text-decoration: none !important;
}

.information img{
    width: 360px;
    float: left;
    padding: 2% 10px 0 2%;
}