.information{
    background-color: #574454;
    font-size: 20px;
    min-height: 240px;
}

a{
    text-decoration: none !important;
}

.information .leftImg{
    width: 240px;
    float: left;
    padding: 2% 10px 0 2%;
}

.information .rightImg{
    width: 240px;
    float: right;
    padding: 2% 2% 10px 2%;
}