.banner{
    position: relative;
}

.bannerImage{
    background: url("D:/Pictures/Pic_20171107_203753_4096x2160.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.slideButton{
    display: inline-block;
    position: absolute;
    opacity: 0.5;
    background-color: #AFEF8B;
    border: none;
    font-size: 52px;
    color: #59B0BD;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    top: 32%;
}

.slideButton:focus{
	outline: 0;
}

#rightSlide{
    right: 0;
}

#leftSlide{
    left: 0;
}
