.banner{
    position: relative;
}

.bannerImage{
    min-height: 400px;
}

.slideButton{
    display: inline-block;
    position: absolute;
    opacity: 0.5;
    background-color: #FCB767;
    border: none;
    font-size: 52px;
    color: #574454;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    top: 32%;
}

.slideButton:focus{
	outline: 0;
}

#rightSlide{
    right: 0;
}

#leftSlide{
    left: 0;
}

.imageInfo{
    background-color: #FCB7677F;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.imageInfo p{
    color: #F9F871;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                 1px -1px 0 #000, -1px -1px 0 #000;
}

.imageInfo .link, .imageInfo p{
    margin-left: 5rem;
}