.title{
    margin-left: 45%;
    margin-bottom: 2%;
}

.posts{
    background-color: #59B0BD;
    padding-bottom: 2%;
}

.posts .post{
    overflow: hidden;
    align-self: stretch !important;
    display: flex !important;
    margin-left: 10%;
    padding-top: 2%;
}

.posts .post img{
    overflow: hidden;
    position: relative;
    display: block;
    width: 390px;
    height: 270px;
    cursor: pointer;
}

.posts .post .information{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block !important;
    cursor: pointer;
}

.posts .post .publication{
    display: flex;
}

.posts .post .publication p{
    margin-right: 1%;
}

.posts .post .contentTitle{
    margin-top: 0.1%;
}

.leftSpacing{
    margin-left: 1%;
}

.pageContainer{
    margin-left: 50%;
}

.pages{
    background-color: #AFEF8B;
    color: #59B0BD;
    border: none;
    cursor: pointer;
}

.pages:focus{
	outline: 0;
}
