header{
	background-color: #574454;
	display: flex;
	justify-content: space-between;
	margin-left: -0.5em;
	margin-top: -0.5em;
}

.menu{
	padding-top: 1em;
	padding-right: 1em;
	display: flex;
	margin-right: 5px;
	margin-top: 8px;
}

#pageLink{
	font-size: 300%;
	text-decoration: none !important;
	padding-left: 0.3em;
	color: inherit;
	text-shadow: 2px 2px 1px #FFFFFF;
	margin-left: 8px;
	margin-top: 8px;
}

#home{
	background-color: inherit;
	border: none;
	color: #F9F871;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none !important;
	padding-top: 0.2em;
	margin-right: 0.4em;
}

#home:hover{
	color: #D98270;
	cursor: pointer;
}

.menuButton{
	background-color: inherit;
	border: none;
	color: #F9F871;
	padding-bottom: 1.4em;
}

.menuButton:hover{
	color: #D98270;
	cursor: pointer;
}

.menuButton:focus{
	outline: 0;
}