.presentation .title{
	font-size: 300%;
    padding-left: 0.3em;
    margin-bottom: 0;
}

.presentation .subtitle{
	font-size: 150%;
    margin-top: 0;
}

.presentation .subtitle, .presentation .title{
    text-align: center;
}

.presentation .title, .presentation .contents .content .contentTitle{
	color: #F9F871;
	text-shadow: 2px 2px 1px #000000;
}

.presentation .subtitle, .presentation .contents .content{
    color: #AFEF8B;
	text-shadow: 2px 2px 1px #000000;
}

.presentation .contents{
    background-color: #59B0BD;
}

.presentation .contents .information{
    display: flex;
    padding-left: 15%;
}

.presentation .contents .content{
    width: 20%;
    display: inline-block;
    padding: 0 5%;
}

.presentation .contents .learnMore{
    padding-left: 50%;
    font-size: 18px;
    color: #F9F871;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                 1px -1px 0 #000, -1px -1px 0 #000;
}