.presentation .subtitle{
    margin-top: 0;
}

.presentation .subtitle, .presentation .title{
    text-align: center;
}

.presentation .contents{
    background-color: #574454;
}

.presentation .contents .information{
    display: flex;
    padding-left: 15%;
}

.presentation .contents .content{
    width: 20%;
    display: inline-block;
    padding: 0 5%;
}

.presentation .contents .learnMore{
    padding-left: 50%;
    font-size: 18px;
    color: #F9F871;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 
                 1px -1px 0 #000, -1px -1px 0 #000;
}