.projects{
    table-layout: fixed ;
    width: 100% ;
}

.projects .projectsShowcase{
    display: flex;
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.projects .title{
    margin-left: 5%;
    padding: 0;
}

.projects .projectsShowcase .project{
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-bottom: 0.5%;
    background-color: #574454;  
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 25%
}

.projects .projectsShowcase img{
    height: 300px;
    width: 570px;
}

.projects .projectsShowcase .contentTitle, .projects .projectsShowcase p{
    margin-left: 1em; 
}

.projects .projectsShowcase .link{
    margin-left: 45%
}

.projects .projectsShowcase #moreProjectsContainer{
    width: 300px;
}

.projects .projectsShowcase .project #moreProjects{
    display: flex;
    margin-left: 0;
    padding-left: 32%;
    margin-top: 100%;
}

.projects .projectsShowcase .emptyCard{
    width: 25%; 
    margin-right: 2.5%; 
    margin-left: 2.5%;
}


